<div class="col-xs-10 signup">
	<form ng-submit="signup()" ng-controller="loginController">
		<input class="form-control" type="name" name="name" ng-model="signupData.name" placeholder="Full Name" required>
		<input class="form-control" type="email" name="email" ng-model="signupData.email" placeholder="Email" required>
		<input class="form-control" type="mobile" name="mobile" ng-model="signupData.mobile" placeholder="Mobile" required>
		<input class="form-control" type="password" name="password" ng-model="signupData.password" placeholder="Password" required>
		<input class="form-control" type="password" name="passwordAgain" ng-model="signupData.passwordAgain" placeholder="Confirm Password" required>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<div style="margin-top: 5%;">
	<a href="#/login">Log In</a>
</div>